.front-page-carousel {
    display: none;
}
.blue-bar {
    display: none;
}
.top-nav__prime, .prime-offers, .top-nav__ellipsis-button div, .top-nav__nav-link {
    display: none;
}
.recommended-channels, .online-friends {
    display: none;
}
.side-nav-card__avatar--offline {
    display: none;
}
button[data-a-target="top-nav-get-bits-button"] {
 	display: none !important;   
}